/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 90%;
    margin: 50px auto;
    background: #fefcf703;
}
.wrapper{
    width: 100%;
    margin: 50px auto;
}
.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
}
.navbar__link{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;  
}
.home{
    color: #333d4b;
}
.navbar__link:hover{
    cursor: pointer;
    color: #333D4B;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* INTRO */

.intro{
    margin-top: 50px;
    background-image: url(./img/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 7px;
}
.intro__content{
    padding: 117px 90px 0 90px;
}
.intro__title{
    width: 495px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.intro__text{
    margin: 32px 0 56px;
    width: 445px;
    height: 78px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.intro__btn{
    background-color: #0E8784;
    width: 217px;
    height: 56px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    border: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 7px;
}
.intro__btn:hover{
    -webkit-transform: scale(1.042);
        -ms-transform: scale(1.042);
            transform: scale(1.042);
    background: #65cac7;
    cursor: pointer;
}
.intro__btn:active{
    -webkit-transform: scale(0.895);
        -ms-transform: scale(0.895);
            transform: scale(0.895);
}

/* COLLECTION */

.collection{
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    width: 96.7%;
    background-image: url(./img/collection.png);
    background-repeat: no-repeat;
    background-size: auto;

}
.collection__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;

}
.collection__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 105%;
    color: #333D4B;
}
.collection__card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.collection__img{
    margin-bottom: 72px;
}

/* CHOOSE-CARD */

.choose-card{
    margin-top: 100px;
    width: 100%;
    height: 577px;
    background-image: url(./img/Mask.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    position: relative;
}
.choose-card__title{
    padding-top: 100px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center; 
    color: #FEFCF7;
}
.choose-card__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 35px auto 0;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 45%;
}
.cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
}
.cards__card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 382px;
    background-color: #0E8784;
    border-radius: 8px;
    top: 100px;
}
.cards__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;    
    color: #FEFCF7;
}
.cards__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

/* WORKS */

.works{
    width: 90%;
    margin: 385px 4% 0;
}
.works__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.section{
    margin-top: 80px;
    width: 100%;
}
.section .box{
    position: relative;
    background-color: #fdd6ba;
    height: 2.2px;
    width: 70%;
}
.section .box .box__img{
    position: absolute;
    margin-top: -15px;
}
.section .box__img:nth-child(2){
    margin-left: 50%;
}
.section .box__img:nth-child(3){
    margin-left: 100%;
}
.section__article{
    width: 98%;
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 95px;
}
.article__variant{
    width: 100%;
}
.variant__img{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;    
    color: #FDD6BA;
    margin-bottom: 40px;
}
.variant__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 45px;
    width: 70%;
}
.variant__text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.works__btn{
    margin-top: 70px;
    background-color: #0E8784;
    width: 217px;
    height: 56px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    border: none;
    border-radius: 7px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.works__btn:hover{
    -webkit-transform: scale(1.042);
        -ms-transform: scale(1.042);
            transform: scale(1.042);
    background: #65cac7;
    cursor: pointer;
}
.works__btn:active{
    -webkit-transform: scale(0.895);
        -ms-transform: scale(0.895);
            transform: scale(0.895);
}

/* FOOTER */

.footer{
    margin-top: 210px;
    width: 100%;
}
.footer__footer{
    padding: 3% 0;
    width: 100%;
    background-image: url(./img/smallmask.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__img-1{
    width: 20%;
    margin-left: -30px;
    margin-top: -8px;
}
.navigation{
    width: 30%;
    margin-left: -110px;
}
.navigation__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
}
.navigation__link{
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.Home{
    color: #FEFCF7;
}
.navigation__link:hover{
    color: #FEFCF7;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.social__media{
    margin-left: 20px;
}