.headquarters{
    margin: 170px auto 0;
    width: 92%;
    margin-bottom: 50px;

    &__title{     
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;        
        color: #83888F;
        margin-bottom: 72px;
    }
    &__box{
        width: 97%;
        display: flex;
        justify-content: space-between;
    }
    &__box .headquarter{
        width: 32%;

        &__img{  
            height: 50px;  
            margin-bottom: 50px;
        }
        &__title{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;            
            color: #333D4B;
            margin-bottom: 23px;
        }
        &__text{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 1080px) {
    .headquarters{
        width: 100%;
        margin: 145px 0;
        &__box .headquarter{
                &__title{
                    width: 223px;
                    font-size: 24px;
                }
        }
    }
}
@media only screen and (max-width: 435px) {
    .headquarters{
        margin: 120px auto 0;
        width: 100%;
        &__title{
            text-align: center;
            margin: 0 0 72px;
        }
        &__box{
            margin: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }
        &__box .headquarter{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img{
                margin: 0;
                width: 40.85px;
                height: 49.07px;
            }
            &__title{
                width: 100%;
                margin: 48px auto 22px;
                font-size: 28px;
                line-height: 36px;
                text-align: center;
            }
            &__text{
                text-align: center;
                margin: 0;
            }
        }
    }
}