* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: 50px auto 0;
  background: rgba(254, 252, 247, 0.0117647059);
}

.wrapper {
  width: 100%;
  margin: 50px auto 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  gap: 33px;
}
.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.navbar__create {
  color: #333d4b;
}
.navbar__link:hover {
  cursor: pointer;
  color: #333d4b;
  transition: all 0.3s;
}
.navbar__burger {
  display: none;
  flex-direction: column;
  gap: 3px;
}
.navbar__hr {
  border: none;
  width: 16px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
}

@media only screen and (max-width: 1080px) {
  .container {
    width: 90%;
    margin: 40px auto 0;
  }
  .wrapper {
    width: 95%;
    margin: 40px auto 0;
  }
  .navbar__link:hover {
    cursor: pointer;
    color: #333d4b;
    transition: all 0.3s;
  }
  .navbar__link:active {
    color: #333d4b;
    transition: all 0.3s;
  }
}
@media only screen and (max-width: 435px) {
  .container {
    width: 90%;
    margin: 30px auto 0;
  }
  .wrapper {
    width: 90%;
    margin: 30px auto 0;
  }
  .navbar__list {
    display: none;
  }
  .navbar__burger {
    display: flex;
  }
  .navbar__img {
    width: 163px;
    height: 18px;
  }
  .navbar__link:active {
    color: #333d4b;
    transition: all 0.3s;
  }
}
.intro {
  margin-top: 50px;
  width: 100%;
  background-image: url(./img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 110px 100px 130px;
}
.intro__box {
  width: 40%;
  border-radius: 8px;
}
.intro__title {
  width: 100%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 35px;
  color: #fefcf7;
}
.intro__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #fefcf7;
}

@media only screen and (max-width: 1080px) {
  .intro {
    margin-top: 53px;
    background-position-x: 42%;
    background-size: auto;
    padding: 127px 58px;
    border-radius: 9px;
  }
  .intro__box {
    width: 72%;
  }
  .intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
  }
  .intro__text {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
@media only screen and (max-width: 435px) {
  .intro {
    background-position-x: 55%;
    background-size: auto;
    padding: 110px 25px 155px;
    border-radius: 10px;
  }
  .intro__box {
    width: 100%;
  }
  .intro__title {
    width: 100%;
    margin: 0 auto 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fefcf7;
  }
  .intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
.preparation {
  margin: 170px auto 0;
  width: 90%;
  background-color: #2c343e;
  border-radius: 8px;
  padding-top: 115px;
}

.box {
  position: relative;
  background-color: #fdd6ba;
  height: 2px;
  width: 62%;
  margin-left: 90px;
}
.box__img {
  position: absolute;
  margin-top: -15px;
}
.box__img {
  position: absolute;
  margin-top: -15px;
}
.box__img:nth-child(1) {
  margin-left: -16px;
}
.box__img:nth-child(2) {
  margin-left: 50%;
}
.box__img:nth-child(3) {
  margin-left: 98%;
}

.content {
  width: 85%;
  margin: 85px 0 0 85px;
  display: flex;
  justify-content: space-between;
}
.content__ways {
  width: 27%;
}
.content__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.content__title {
  width: 90%;
  margin: 40px 0 45px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
}
.content__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1080px) {
  .preparation {
    margin-top: 145px;
    width: 100%;
    padding-top: 97px;
  }
  .box {
    margin: 0 0 0 55px;
  }
  .box__img:nth-child(3) {
    margin-left: 96.8%;
  }
  .content {
    width: 91%;
    margin: 62px auto;
  }
  .content__ways {
    width: 32%;
  }
  .content__title {
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    margin: 42px 0 38px;
  }
  .content__text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 97px;
  }
  .content__text3 {
    width: 90%;
  }
}
@media only screen and (max-width: 435px) {
  .preparation {
    padding: 24px 0;
    width: 100%;
    margin-top: 120px;
    border-radius: 12px;
  }
  .box {
    display: none;
  }
  .content {
    flex-direction: column;
    width: 100%;
    margin: 24px auto 80px;
    align-items: center;
  }
  .content__ways {
    width: 74%;
    text-align: center;
  }
  .content__number {
    margin: 56px 0 25px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
  }
  .content__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
  }
  .content__text {
    margin: 25px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.footer {
  margin-top: 210px;
  width: 100%;
}
.footer__foooter {
  padding: 2.8% 0;
  width: 100%;
  background-color: #2c343e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__img {
  width: 20%;
  margin-left: -30px;
  margin-top: -8px;
}

.navigation {
  width: 30%;
  margin-left: -110px;
}
.navigation__list {
  display: flex;
  gap: 35px;
}
.navigation__link {
  list-style: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.navigation__link:hover {
  cursor: pointer;
  color: #fefcf7;
  transition: all 0.3s;
}
.navigation__plan {
  color: #fefcf7;
}

.social__media {
  margin-left: 20px;
}

@media only screen and (max-width: 1080px) {
  .footer {
    margin-top: 145px;
    width: 100%;
  }
  .footer__foooter {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .footer__img {
    width: 236px;
    height: 26px;
    margin: 62px 0 0;
  }
  .navigation {
    margin: 32px 0 65px;
    width: 50%;
  }
  .navigation__list {
    flex-direction: row;
    justify-content: center;
    gap: 33px;
  }
  .navigation__link:hover {
    cursor: pointer;
    color: #fefcf7;
    transition: all 0.3s;
  }
  .navigation__link:active {
    color: #fefcf7;
    transition: all 0.3s;
  }
  .social {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 54px;
  }
  .social__media {
    margin: 0;
  }
}
@media only screen and (max-width: 435px) {
  .footer {
    margin-top: 120px;
    width: 100%;
  }
  .footer__foooter {
    padding: 0;
    flex-direction: column;
  }
  .footer__img {
    margin: 54px 0 0;
    width: 218px;
    height: 24px;
  }
  .navigation {
    width: 40%;
    margin: 49px 0;
  }
  .navigation__list {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .navigation__link:active {
    color: #fefcf7;
    transition: all 0.3s;
  }
  .social {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 54px;
  }
  .social__media {
    margin: 0;
  }
}
.container2 {
  width: 90%;
  margin: 0 auto 50px;
  background: rgba(254, 252, 247, 0.0117647059);
}

.wrapper2 {
  width: 100%;
  margin-bottom: 50px;
}

.selections {
  padding-top: 160px;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

@media only screen and (max-width: 1080px) {
  .container2 {
    width: 90%;
    margin: 0 auto 40px;
  }
  .wrapper2 {
    width: 95%;
    margin: 0 auto 40px;
  }
  .selections {
    padding-top: 83px;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
}
@media only screen and (max-width: 435px) {
  .container2 {
    width: 90%;
    margin: 0 auto 30px;
  }
  .wrapper2 {
    width: 90%;
    margin: 0 auto 30px;
  }
  .selections {
    padding-top: 120px;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
}
.list {
  width: 37%;
}
.list__item:not(.list__n-5) {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.list__item:not(.list__n-5):hover {
  mix-blend-mode: normal;
  opacity: 0.8;
}
.list__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
  color: #83888f;
}
.list__num1 {
  color: #0e8784;
}
.list__n-5 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  mix-blend-mode: normal;
  opacity: 1;
}
.list__link {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
  color: #333d4b;
}
.list__line {
  margin: 20px 0 18px;
  width: 100%;
  opacity: 0.25;
  height: 1px;
  background: #83888f;
  mix-blend-mode: normal;
  opacity: 0.25;
}

@media only screen and (max-width: 1080px) {
  .list {
    display: none;
  }
}
@media only screen and (max-width: 435px) {
  .list {
    display: none;
  }
}
.selection {
  margin: -5px 0 0;
}
.selection__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  color: #f4f1eb;
}
.selection__btn {
  margin-top: 50px;
  width: 26%;
  height: 2.2%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  border-radius: 6px;
  border: none;
  float: right;
  transition: all 0.3s;
}
.selection__btn:hover {
  transform: scale(1.042);
  background: #65cac7;
  cursor: pointer;
}
.selection__btn:active {
  transform: scale(0.895);
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 37px;
  line-height: 45px;
  color: #83888f;
  margin-bottom: 56px;
}
.title__img {
  margin-top: -46px;
  width: 2%;
}

.ways {
  width: 31%;
  background: #f4f1eb;
  border-radius: 8px;
}
.ways:hover {
  transition: all 0.3s linear;
  background-color: #fdd6ba;
}
.ways:active {
  transition: all 0.3s linear;
  background-color: #0e8784;
}
.ways:active .ways__title {
  transition: all 0.3s linear;
  color: #fff;
}
.ways:active .ways__text {
  transition: all 0.3s linear;
  color: #fefcf7;
}
.ways__box {
  margin: 35px auto 85px;
  width: 74%;
}
.ways__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  color: #333d4b;
  margin-bottom: 25px;
}
.ways__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

.order {
  background-color: #2c343e;
  width: 100%;
  padding: 25px 0;
  border-radius: 8px;
}
.order__box {
  width: 90%;
  margin: 0 auto;
}
.order__text {
  margin-bottom: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.order__title {
  width: 85%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
}
.order__words {
  background-color: #2c343e;
  color: #0e8784;
}

@media only screen and (max-width: 1080px) {
  .selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selection__box {
    width: 100%;
    gap: 10px;
    margin: 0;
  }
  .selection__btn {
    margin: 40px 0 0;
    width: 217px;
    height: 56px;
    transition: all 0.3s linear;
  }
  .selection__btn:hover {
    text-decoration: none;
    box-direction: normal;
  }
  .selection__btn:active {
    background: #1b4b4a;
    transform: scale(0.95);
    transition: all 0.3s linear;
  }
  .ways {
    width: 35%;
    margin-bottom: 90px;
    border-radius: 10px;
  }
  .ways__box {
    width: 83%;
    margin: 0 auto;
  }
  .ways__title {
    margin-top: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .ways__text {
    margin: 25px 0 85px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: start;
  }
  .ways:hover {
    transition: al 0.3s linear;
    text-decoration: none;
    box-direction: normal;
  }
  .ways:active {
    transition: al 0.3s linear;
    background-color: #0e8784;
  }
  .ways:active .ways__title {
    color: #fff;
  }
  .ways:active .ways__text {
    color: #fefcf7;
  }
  .title {
    margin: 0 0 -2px;
    flex-direction: row;
    justify-content: space-between;
  }
  .title__title {
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  .title__img {
    width: 18.2px;
    height: 12px;
    margin-top: -35px;
  }
  .order {
    margin: 60px auto 0;
  }
  .order__box {
    width: 90%;
  }
  .order__title {
    width: 90%;
  }
}
@media only screen and (max-width: 435px) {
  .selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selection__box {
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 20px;
  }
  .selection__btn {
    margin: 60px 0 0 0;
    width: 217px;
    height: 56px;
    float: none;
    transition: all 0.3s linear;
  }
  .selection__btn:hover {
    text-decoration: none;
    box-direction: normal;
  }
  .selection__btn:active {
    transform: scale(0.93);
  }
  .ways {
    width: 100%;
    margin: 0 auto;
  }
  .ways__box {
    width: 85%;
    margin: 0 auto;
  }
  .ways__title {
    margin: 25px 0 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .ways__text {
    width: 278px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .ways:hover {
    transition: all 0.3s linear;
    text-decoration: none;
    box-direction: normal;
  }
  .ways:active {
    transition: all 0.3s linear;
    background-color: #0e8784;
  }
  .ways:active .ways__title {
    color: #fff;
  }
  .ways:active .ways__text {
    color: #fefcf7;
  }
  .title {
    width: 100%;
    margin: 100px 0 0;
  }
  .title__title {
    width: 70%;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #83888f;
    margin: 0 0 32px;
  }
  .title__img {
    width: 20px;
    height: 15px;
  }
  .order {
    margin: 120px auto 0;
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */