.container2 {
  width: 90%;
  margin: 0 auto 50px;
  background: #fefcf703;
}
.wrapper2 {
  width: 100%;
  margin-bottom: 50px;
}
.selections {
  padding-top: 160px;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 125px;
}
@media only screen and (max-width: 1080px) {
  .container2 {
    width: 90%;
    margin: 0 auto 40px;
  }
  .wrapper2 {
    width: 95%;
    margin: 0 auto 40px;
  }
  .selections {
    padding-top: 83px;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
}
@media only screen and (max-width: 435px) {
  .container2 {
    width: 90%;
    margin: 0 auto 30px;
  }
  .wrapper2 {
    width: 90%;
    margin: 0 auto 30px;
  }
  .selections {
    padding-top: 120px;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
}
