.selection{
    margin: -5px 0 0;

    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        color: #f4f1eb;
    }
    &__btn{
        margin-top: 50px;
        width: 26%;
        height: 2.2%;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
        float: right;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.042);
            background: #65cac7;
            cursor: pointer;
        }
        &:active{
            transform: scale(0.895);
        }
    }
}
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title{
        font-family: 'Fraunces 9pt';
        font-style: normal;        
        font-weight: 900;
        font-size: 37px;
        line-height: 45px;        
        color: #83888F;
        margin-bottom: 56px;
    }
    &__img{
        margin-top: -46px;
        width: 2%;
    }
}
.ways{
    width: 31%;
    background: #F4F1EB;
    border-radius: 8px;

    &:hover{
        background-color: #fdd6ba;
    }
    &:active{
        background-color: #0e8784;
        .ways__title{
            color: #fff;
        }
        .ways__text{
            color: #fefcf7;
        }
    }
    &__box{
        margin: 35px auto 85px;
        width: 74%;

    }
    &__title{
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 28px;        
        color: #333D4B;
        margin-bottom: 25px;
    }
    &__text{ 
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;        
        color: #333D4B;
    }
}
.order{
    background-color: #2c343e;
    width: 100%;
    padding: 25px 0;

    &__box{
        width: 90%;
        margin: 0 auto;
    }
    &__text{
        margin-bottom: 10px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FFFFFF; 
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    &__title{
        width: 85%;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 35px;
        color: #FFFFFF;
    }
    &__words{
        background-color: #2c343e;
        color: #0e8784;
    }
}