* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: 50px auto;
  background: rgba(254, 252, 247, 0.0117647059);
}

.wrapper {
  width: 100%;
  margin: 50px auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
}
.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.navbar__create {
  color: #333d4b;
}
.navbar__link:hover {
  cursor: pointer;
  color: #333D4B;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.intro {
  margin-top: 50px;
  width: 100%;
  background-image: url(../img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 110px 100px 130px;
}
.intro__box {
  width: 40%;
  border-radius: 8px;
}
.intro__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 35px;
  color: #FEFCF7;
}
.intro__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FEFCF7;
}

.preparation {
  margin-top: 170px;
  width: 100%;
  background-color: #2c343e;
  border-radius: 8px;
  padding-top: 115px;
}

.box {
  position: relative;
  background-color: #fdd6ba;
  height: 2.2px;
  width: 60%;
  margin-left: 90px;
}
.box__img {
  position: absolute;
  margin-top: -15px;
}
.box__img {
  position: absolute;
  margin-top: -15px;
}
.box__img:nth-child(1) {
  margin-left: -2%;
}
.box__img:nth-child(2) {
  margin-left: 50%;
}
.box__img:nth-child(3) {
  margin-left: 98%;
}

.content {
  width: 85%;
  margin: 85px 0 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__ways {
  width: 27%;
}
.content__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.content__title {
  margin: 40px 0 45px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
}
.content__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-bottom: 100px;
}

.footer {
  margin-top: 210px;
  width: 100%;
}
.footer__foooter {
  padding: 2.8% 0;
  width: 100%;
  background-color: #2c343e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__img {
  width: 20%;
  margin-left: -30px;
  margin-top: -8px;
}

.navigation {
  width: 30%;
  margin-left: -110px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.navigation__link {
  text-decoration: none;
  list-style: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.navigation__link:hover {
  color: #FEFCF7;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__plan {
  color: #FEFCF7;
}

.social__media {
  margin-left: 20px;
}

.selections {
  padding-top: 160px;
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 125px;
}

.list {
  width: 37%;
}
.list__item:not(.list__n-5) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.list__item:not(.list__n-5):hover {
  mix-blend-mode: normal;
  opacity: 0.8;
}
.list__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
  color: #83888F;
}
.list__num1 {
  color: #0E8784;
}
.list__n-5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  mix-blend-mode: normal;
  opacity: 1;
}
.list__link {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
  color: #333D4B;
}
.list__line {
  margin: 20px 0 18px;
  width: 100%;
  opacity: 0.25;
  height: 1px;
  background: #83888F;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.selection {
  margin: -5px 0 0;
}
.selection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  color: #f4f1eb;
}
.selection__btn {
  margin-top: 50px;
  width: 26%;
  height: 2.2%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  border: none;
  float: right;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.selection__btn:hover {
  -webkit-transform: scale(1.042);
      -ms-transform: scale(1.042);
          transform: scale(1.042);
  background: #65cac7;
  cursor: pointer;
}
.selection__btn:active {
  -webkit-transform: scale(0.895);
      -ms-transform: scale(0.895);
          transform: scale(0.895);
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 37px;
  line-height: 45px;
  color: #83888F;
  margin-bottom: 56px;
}
.title__img {
  margin-top: -46px;
  width: 2%;
}

.ways {
  width: 31%;
  background: #F4F1EB;
  border-radius: 8px;
}
.ways__box {
  margin: 35px auto 85px;
  width: 74%;
}
.ways__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  color: #333D4B;
  margin-bottom: 25px;
}
.ways__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.ways-2_2 {
  background-color: #0e8784;
}
.ways-2_2__title {
  color: #fff;
}
.ways-2_2__text {
  color: #fefcf7;
}

.order {
  background-color: #2c343e;
  width: 100%;
  padding: 25px 0;
}
.order__box {
  width: 90%;
  margin: 0 auto;
}
.order__text {
  margin-bottom: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.order__title {
  width: 85%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
.order__words {
  background-color: #2c343e;
  color: #0e8784;
}