.container {
  width: 90%;
  margin: 50px auto 0;
  background: #fefcf703;
}
.wrapper {
  width: 100%;
  margin: 50px auto 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    gap: 33px;
  }
  &__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }
  &__create {
    color: #333d4b;
  }
  &__link:hover {
    cursor: pointer;
    color: #333d4b;
    transition: all 0.3s;
  }
  &__burger {
    display: none;
    flex-direction: column;
    gap: 3px;
  }
  &__hr {
    border: none;
    width: 16px;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1080px) {
  .container {
    width: 90%;
    margin: 40px auto 0;
  }
  .wrapper {
    width: 95%;
    margin: 40px auto 0;
  }
  .navbar {
    &__link:hover {
      cursor: pointer;
      color: #333d4b;
      transition: all 0.3s;
    }
    &__link:active {
      color: #333d4b;
      transition: all 0.3s;
    }
  }
}
@media only screen and (max-width: 435px) {
  .container {
    width: 90%;
    margin: 30px auto 0;
  }
  .wrapper {
    width: 90%;
    margin: 30px auto 0;
  }
  .navbar {
    &__list {
      display: none;
    }
    &__burger {
      display: flex;
    }
    &__img {
      width: 163px;
      height: 18px;
    }
    &__link:active {
      color: #333d4b;
      transition: all 0.3s;
    }
  }
}
