.collection{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-image: url(./img/collection.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
.collection__title{
    width: 250px;
    text-align: center;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 20px;
}
.collection__text{
    width: 255px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}
.collection__card{
    width: 22%;
    display: flex;
    margin: 0 auto;
    margin-top: 125px;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.collection__img{
    width: 255px;
    height: 193px;
    flex-shrink: 0;
    margin-bottom: 70px;
}
@media only screen and (max-width: 1080px){
    .collection{
        flex-direction: column;
        padding: 30px 0;
        &__card{
            margin-top: 32px;
            width: 573px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        &__title{
            margin-top: -20px;
            width: 282px;
            text-align: start;
        }
        &__text{
            margin-top: -5px;
            width: 282px;
            text-align: start;
        }
        &__img{
            margin-bottom: 0;
        }
    }
}